<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="light-style layout-menu-fixed">

<head>
	<meta charset="utf-8" />

</head>

<body>
	<div th:replace="~{layout/leftbar}"></div>

	<!-- Content wrapper -->
	<div class="content-wrapper">
		<!-- Content -->

		<div class="container-xxl flex-grow-1 container-p-y">
			<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Lists /</span> Login Success Page</h4>

			<!-- Property List Table -->
			<div class="card">
				<h5 class="card-header">Login Successfully! </h5>

				<div class="card-body">
					<div class="table-responsive text-nowrap">

						<h3>Hello! (≧∇≦)/</h3>
						<h3 th:text="${user.userNickname}"></h3>
						<h3>WelCome to ChaChaCha ate Room! </h3>
						<div>
							<a href="http://localhost:8091/websocket/publicChatRoom"
								class="btn btn-outline-primary btn-lg" style="border-color: #aeafff; ">ChatRoom
								HomePage</a>
						</div>
						<br>
					</div>
					<div>
						<form action="/userInfo/userSetting" method="get">
							<input type="submit" value="Edit Basic Info" class="btn-outline-primary btn-lg"
								style="border-color: #aeafff;" />
						</form>
					</div>
					<br>
					<div>
						<form action="/userInfo/logout" method="get">
							<input type="submit" value="Logout" class="btn-outline-primary btn-lg"
								style="border-color: #aeafff;" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	</script>
</body>

</html>