<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="light-style layout-menu-fixed">

<head>
	<meta charset="utf-8" />
	<!-- Include a required theme -->
	<link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
	<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
	<style>
		.table-responsive {
			border: 1px solid #ccc;
			padding: 10px;
			width: 100%;
		}

		.text-nowrap {
			white-space: nowrap;
		}

		#captcha {
			background-color: #565656;
			color: black;
			padding: 10px;
			cursor: pointer;
		}

		.form-control {
			width: 300px;

		}
	</style>

</head>

<body>
	<div th:replace="~{layout/leftbar}"></div>

	<!-- Content wrapper -->
	<div class="content-wrapper">
		<!-- Content -->

		<div class="container-xxl flex-grow-1 container-p-y">
			<h4 class="fw-bold py-3 mb-4">
				<span class="text-muted fw-light">Lists /</span> User Login Page
			</h4>

			<!-- Login Page -->
			<div class="card">
				<h5 class="card-header" style="font-size:x-large;">Choose your Role:</h5>
				<div>
					<a href="http://localhost:8091/userInfo/loginPage" class="btn btn-outline-primary btn-lg"
						style="border-color: #aeafff; margin-left: 20px;">USER</a>
					<a href="http://localhost:8091/manager/managerloginPage" class="btn btn-outline-primary btn-lg"
						style="border-color: #aeafff; margin-left: 20px;">MANAGER</a>
				</div>
				<div class="card-body">
					<div class="table-responsive text-nowrap">

						<form action="/userInfo/loginProcess" method="post" enctype=application/x-www-form-urlencoded
							id="loginForm">

							<div class="row mb-3">
								<label for="userAccount" class="col-sm-2 col-form-label"
									style="font-size: larger; font-family:Microsoft JhengHei;">ACCOUNT:</label>
								<div class="col-sm-10">
									<input type="text" name="userAccount" id="userAccount" class="form-control"
										style="width:300px;" maxlength="12" oninput="checkAccountFormat(this)" />
									<div id="userAccountError" style="color: red; display: none;">帳戶須為英文&數字,
										且長度不可以超過12個字元
									</div>
								</div>
							</div>

							<br>
							<div class="row mb-3">
								<label for="inputEmail3" class="col-sm-2 col-form-label"
									style="font-size: larger; font-family:Microsoft JhengHei;" maxlength="12">PASSWORD:
								</label>
								<div class="col-sm-10">
									<input type="password" name="userPassword" id="userPassword" class="form-control"
										style="width:300px;" />
								</div>
							</div>
							<br>
							<div class="row mb-3">
								<label for="inputEmail3" class="col-sm-2 col-form-label"
									style="font-size: larger; font-family:Microsoft JhengHei;">CAPCHA: </label>
								<div class="col-sm-10">
									<span id="captcha" th:text="${firstCaptcha}"
										style="background-color: #565656; color: rgb(255, 255, 255); font-size:x-large ;display: inline-block; vertical-align: middle; margin-right: 10px; width:85px"></span>
									<input type="text" name="captcha" id="inputCaptcha"
										style="width:200px; display: inline-block;" class="form-control" />
								</div>
							</div>

							<br>
							<button type="submit" value="Login" class="loginBtn btn-outline-primary btn-lg"
								style="border-color: #aeafff;">Submit</button>

						</form>
						<br>
						<h4>Forgot Password? </h4>
						<a href="http://localhost:8091/userInfo/forgetPasswordPage"
							class="btn btn-outline-primary btn-lg" style="border-color: #aeafff;">ForgotPassword</a>
						<br><br>
						<h4>Not a user? </h4>
						<button type="button" class="signupBtn btn-outline-primary btn-lg"
							style="border-color: #aeafff;">Sign up</button>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Login Page -->

	<script src="sweetalert2/dist/sweetalert2.min.js"></script>

	<script>
		function checkAccountFormat(input) {
			var userAccount = input.value;
			var userAccountError = document.getElementById('userAccountError');
			var regex = /^[a-zA-Z0-9]{1,12}$/;

			var isValid = regex.test(userAccount);

			if (userAccount.length > 12 || !isValid) {
				userAccountError.style.display = "block";
			} else {
				userAccountError.style.display = "none";
			}
		}

		$("#loginForm").submit(function (e) {
			e.preventDefault();

			$.ajax({
				url: "http://localhost:8091/userInfo/loginProcess",
				type: "post",
				data: {
					userAccount: $("#userAccount").val(),
					userPassword: $("#userPassword").val(),
					captcha: $("#inputCaptcha").val()
				}, success: function (response) {
					$("#loginForm")[0].submit();
		                Swal.fire('Login Successfully!').then(function () {
		                    window.location.href = "http://localhost:8091/userInfo/loginSuccess";  
		                });
				}, error: function (error) {
					Swal.fire({
						icon: 'error',
						title: 'Oops...',
						text: 'An unexpected error occurred'
					});
				}
			});
		});

		$(".signupBtn").click(function (e) {
			window.location.href = "http://localhost:8091/userInfo/signupPage";
		})


		$("#captcha").click(function () {
			$.ajax({
				url: "http://localhost:8091/userInfo/changeCapcha",
				type: "get",
				success: function (response) {
					$("#captcha").text(response);
				}
			})
		});

	</script>
</body>

</html>