<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  lang="en"
  class="light-style layout-menu-fixed">
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    	<div th:replace="~{layout/leftbar}"></div>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Lists /</span> User List</h4>

              <!-- User List Table -->
              <div class="card">
                <h5 class="card-header">User List</h5>

                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>userID</th>
                          <th>userPassword</th>
                          <th>userRole</th>
                          <th>userName</th>
                          <th>userPhone</th>
                          <th>userEmail</th>
                          <th>userStatus</th>
                          <th>departmentNo</th>
                          <th>Edit</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        <th:block th:each="user : ${user}">
                        <tr>
                          <td th:text="${user.userID}"></td>
                          <td th:text="${user.userPassword}"></td>
                          <td th:text="${user.userRole}"></td>
                          <td th:text="${user.userName}"></td>
                          <td th:text="${user.userPhone}"></td>
                          <td th:text="${user.userEmail}"></td>
                          <td th:text="${user.userStatus}"></td>
                          <td th:text="${user.departmentNo}"></td>
                          <td><button class="edit-btn btn btn-outline-secondary" th:data-userID="${user.userID}">Edit</button></td> 
                          <td><button class="delete-btn btn btn-outline-secondary" id="delete-btn" th:data-userID="${user.userID}">Delete</button></td> 
                        </tr>
                        </th:block>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            </div>
              <!-- /User List Table -->
	<script>
		
		//EditData 跳轉到編輯頁面
		var editBtn = document.querySelectorAll(".edit-btn");
		
		for(i=0; i < editBtn.length; i++){
			editBtn[i].addEventListener('click', function (e) {
			let userID = this.getAttribute('data-userID');
			window.location.href = "http://localhost:8091/userInfo/findOneUserInfoByNo?userID=" + userID;		
		});
		}
		
		//DeleteData 目前是真刪除 尚未加入判斷
		const deleteBtns = document.querySelectorAll("#delete-btn");
		
		 deleteBtns.forEach(deleteBtn => {
		 deleteBtn.addEventListener('click', function (e) {
			e.preventDefault();
			let userID = this.getAttribute('data-userID');
    		deleteUser(userID);
			location.reload();
		      });
		    });
		    
		  function deleteUser(userID){
			  axios({
				url: "http://localhost:8091/userInfo/deleteUserInfo",
				method: "delete",
				params: {
					userID: userID
				},
				responseType: 'document',
				headers: {'Content-Type': 'application/x-www-form-unlencoded'}
			  })
			  	.then(res =>{
			  		console.log(res);
			  	})
			  	.catch(err =>{
			  		consele.log(err);
			  	})
		  }
	</script>
  </body>
</html>
