<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	class="light-style layout-menu-fixed">
<head>
<meta charset="utf-8" />

<style>
.table-responsive {
	border: 1px solid #ccc;
	padding: 10px;
}

.text-nowrap {
	white-space: nowrap;
}

#captcha {
	background-color: #565656;
	color: black;
	padding: 10px;
}

#captcha {
			cursor: pointer;
		}
</style>

</head>

<body>
	<div th:replace="~{layout/managerLeftbar}"></div>

	<!-- Content wrapper -->
	<div class="content-wrapper">
		<!-- Content -->

		<div class="container-xxl flex-grow-1 container-p-y">
			<h4 class="fw-bold py-3 mb-4">
				<span class="text-muted fw-light">Lists /</span> Manager Login Page
			</h4>


			<!-- Login Page -->
			<div class="card">
				<h5 class="card-header" style="font-size:x-large;">Choose your Role:</h5>
				<div>
			<a href="http://localhost:8091/userInfo/loginPage" class="btn btn-outline-primary btn-lg" style="border-color: #aeafff; margin-left: 20px;">USER</a>
			<a href="http://localhost:8091/manager/managerloginPage" class="btn btn-outline-primary btn-lg" style="border-color: #aeafff; margin-left: 20px;">MANAGER</a>
					
				</div>
			
			<!-- 框裡 -->
				<div class="card-body">
					<div class="table-responsive text-nowrap">
						
						<form action="/manager/managerLoginProcess" method="post" enctype=application/x-www-form-urlencoded>

							 <div class="row mb-3">
							    <label for="inputEmail3" class="col-sm-2 col-form-label" style="font-size: larger; font-family:Microsoft JhengHei;">EMAIL:</label>
							    <div class="col-sm-10">
							      <input type="text" name="managerEmail" id="managerEmail" class="form-control" style="width:300px;"/>
							    </div>
							  </div>
							<br>
							 <div class="row mb-3">
							    <label for="inputEmail3" class="col-sm-2 col-form-label" style="font-size: larger; font-family:Microsoft JhengHei;">PASSWORD: </label>
							    <div class="col-sm-10">
							      <input type="password" name="managerPassword" id="managerPassword" class="form-control" style="width:300px;"maxlength="12"/>
							    </div>
							  </div>
							<br>  
							   <div class="row mb-3">
							    <label for="inputEmail3" class="col-sm-2 col-form-label" style="font-size: larger; font-family:Microsoft JhengHei;">CAPCHA: </label>
							    <div class="col-sm-10">
								  <span id="captcha" th:text="${firstCaptcha}" style="background-color: #565656; color: rgb(255, 255, 255); font-size:x-large ;display: inline-block; vertical-align: middle; margin-right: 10px; width:85px"></span>
							      <input type="text" name="captcha" style="width:200px; display: inline-block;" class="form-control" />
							    </div>
							  </div>
							  
							<br>
							<button type="submit" value="Login"
								class="submitBtn btn-outline-primary btn-lg"
								style="border-color: #aeafff;">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
			<!-- /Login Page -->
			
		<script>
			
			$("#captcha").click(function () {
			$.ajax({
				url: "http://localhost:8091/userInfo/changeCapcha",
				type: "get",
				success: function (response) {
					$("#captcha").text(response);
				}
			})
		});
			
			
		</script>
</body>
</html>
