<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  lang="en"
  class="light-style layout-menu-fixed"
>
  <head>
    <meta charset="utf-8" />
     
  </head>

  <body>
     	<div th:replace="~{layout/managerLeftbar}"></div>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Lists /</span> Property List</h4>

              <!-- Property List Table -->
              <div class="card">
                <h5 class="card-header">LoginSuccess Page</h5>
                
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
              
                 <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>managerId</th>
                          <th>managerName</th>
                          <th>managerEmail</th>
                          <th>managerStatus</th>
                        </tr>
                      </thead>

                        <th:block th:each="manager : ${manager}">
                      <tbody>
                        <tr>
                          <td th:text="${manager.managerId}"></td>
                          <td th:text="${manager.managerName}"></td>
                          <td th:text="${manager.managerEmail}"></td>
                          <td th:text="${manager.managerStatus}"></td>
                        </tr>
                      </tbody>
                        </th:block>
                    </table>
                  </div>
                  
                    <form action="/userInfo/logout" method="get">
					    <input type="submit" value="Logout" class="btn-outline-primary btn-lg" style="border-color:#696cff;"/>
					</form>
					
                </div>
              </div>
              </div>
              </div>
	<script>
	</script>
  </body>
</html>
