<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="light-style layout-menu-fixed">

<head>
	<meta charset="utf-8" />
</head>

<body>
	<div th:replace="~{layout/leftbar}"></div>

	<!-- Content wrapper -->
	<div class="content-wrapper">
		<!-- Content -->

		<div class="container-xxl flex-grow-1 container-p-y">
			<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Lists /</span> User List</h4>

			<!-- User List Table -->
			<div class="card">
				<h5 class="card-header">User Chat History</h5>

				<div class="card-body">
					<div class="table-responsive text-nowrap">
						<table class="table table-bordered" id="datatable">
							<thead>
								<tr>
									<th>messageId</th>
									<th>messageType</th>
									<th>messageDatetime</th>
									<th>messageContent</th>
									<th>senderRole</th>
									<th>senderUserNo</th>
									<th>senderManagerId</th>
									<th>receiverRole</th>
									<th>receiverUserNo</th>
									<th>receiverManagerId</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="listMessageFromOneUser : ${listMessageFromOneUser}">
									<tr>
										<td th:text="${listMessageFromOneUser.messageId}"></td>
										<td th:text="${listMessageFromOneUser.messageType}"></td>
										<td th:text="${listMessageFromOneUser.messageDatetime}"></td>
										<td th:text="${listMessageFromOneUser.messageContent}"></td>
										<td th:text="${listMessageFromOneUser.senderRole}"></td>
										<td th:text="${listMessageFromOneUser.senderUserNo}"></td>
										<td th:text="${listMessageFromOneUser.senderManagerId}"></td>
										<td th:text="${listMessageFromOneUser.receiverRole}"></td>
										<td th:text="${listMessageFromOneUser.receiverUserNo}"></td>
										<td th:text="${listMessageFromOneUser.receiverManagerId}"></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.datatables.net/1.3.14/js/jquery.datatables.js"></script>
	<script>
		$(document).ready(function () {
			$("#datatable").DataTable()
		});
	</script>
</body>

</html>