<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  lang="en"
  class="light-style layout-menu-fixed"
>
  <head>
    <meta charset="utf-8" />
     
  </head>

  <body>
     	<div th:replace="~{layout/leftbar}"></div>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Lists /</span> Login Success Page</h4>

              <!-- Property List Table -->
              <div class="card">
                <h5 class="card-header">Login Successfully! </h5>
                
                <div class="card-body">
                  <div class="table-responsive text-nowrap">

			   <h3>Hello! (≧∇≦)/</h3>              
			   <h3 th:text="${user.userNickname}"></h3>     
               <h3>WelCome to ChaChaCha ate Room! </h3>
               <h4>Here is your brief information: </h4>
               <h4>Enter to chatroom </h4>
               
               <a href="http://localhost:8091/websocket/publicChatRoom" class="btn btn-outline-primary btn-lg"
						style="border-color: #aeafff; margin-left: 20px;">ChatRoom</a>
			             
                 <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>userAccount</th>
                          <th>userNickname</th>
                          <th>userGender</th>
                          <th>userBirthday</th>
                          <th>userPhone</th>
                          <th>userEmail</th>
                        </tr>
                      </thead>

                        <th:block th:each="user : ${user}">
                      <tbody>
                        <tr>
                          <td th:text="${user.userAccount}"></td>
                          <td th:text="${user.userNickname}"></td>
                          <td th:text="${user.userGender}"></td>
                          <td th:text="${user.userBirthday}"></td>
                          <td th:text="${user.userPhone}"></td>
                          <td th:text="${user.userEmail}"></td>
                        </tr>
                      </tbody>
                        </th:block>
                    </table>
                  </div>
                  
                  	<form action="/userInfo/findOneUserInfoByNo" method="get">
					    <input type="submit" value="Edit" class="btn-outline-primary btn-lg" style="border-color:#696cff;"/>
					</form>
                  
                    <form action="/userInfo/logout" method="get">
					    <input type="submit" value="Logout" class="btn-outline-primary btn-lg" style="border-color:#696cff;"/>
					</form>
					
                </div>
              </div>
              </div>
              </div>
	<script>
	</script>
  </body>
</html>
